# System
.DS_Store
Thumbs.db
ehthumbs.db
*.swp

# Java
*.class
*.log
logs/

# Gradle
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar

# secret
.env*
!.env.example
.envrc
docker/.generated

# IntelliJ
.idea/
*.iws
*.iml
*.ipr
out/

# Data
data/

# Docs or helpers
HELP.md
.gitattributes
