# System
.DS_Store
Thumbs.db
ehthumbs.db
*.swp

# Java
*.class
*.log
logs/
app/logs/

# Gradle
.gradle/
build/
app/build/
common/build/
!gradle/wrapper/gradle-wrapper.jar

# secret
.env*
!.env.example
!deploy/ec2/.env.production.example
.env.dev
.env.local
.env.prod
.envrc
docker/.generated

# IntelliJ
.idea/
*.iws
*.iml
*.ipr
out/

# Data
data/

# Docs or helpers
HELP.md
.gitattributes
